$primary-color: #0084ff;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
};

// Container

.container {
    position: fixed;
    bottom: 5%;
    right: 2%;
}

.closeIcon {
    @include flex-center;

    position: absolute;
    z-index: 99;
    right: 10px;
    top: 10px;
    color: black;
    background-color: rgb(223, 223, 223);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.chatBtn {
    @include flex-center;

    background-color: $primary-color;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

.chatIcon {
    color: white;
}

// Client chat container

.chatBoxContainer {
    position: relative;
    width: 400px;
    height: 70vh;
    background: #fff;
    position: fixed;
    bottom: 15%;
    right: 2%;
    border-radius: 15px;
    padding-left: 8px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
}

.msgInput {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 8px;
    
    input {
        font-family: inherit;
        width: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        resize: none;
        appearance: none;
        padding: 10px;
        overflow-y: hidden;
    }
}

.msgInputIcon {
    color: $primary-color;
    cursor: pointer;
    margin-right: 10px;
}

.chatContainer {
    height: 65vh;
    overflow-y: auto;
}

.chatContent {
    max-height: 85%;
    overflow-y: auto;
    padding-bottom: 12px;
    padding-right: 8px;
}

.msgContent {
    display: flex;
    flex-direction: column;

    span {
        font-weight: 700;
    }


    p {
        margin-top: 8px;
        margin-bottom: 0;    
        padding: 7px 12px;
        border-radius: 22px;
        font-size: 14px;
        max-width: 285px;
    }
}

.viewer {
    text-align: left;

    p {
        background: rgba(204, 204, 204, 0.65);
    }
}

.owner {
    text-align: right;
    align-items: flex-end;
    
    p {
        background: $primary-color;
        color: white;
    }
}

// Make Question
.questionContainer {
    display: flex;
    justify-content: center;
}

.questionContent {
    height: 63vh;
    width: 100%;
}

.questionDetailBox {
    max-height: 100%;
    overflow-y: auto;
    padding-bottom: 12px;
    padding-left: 12px;
}

.questionDetail {
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    span {
        font-weight: bold;
    }
}

.questionView {
    max-height: 63%;
}

.voteQuestion {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        display: block;
        margin-right: 12px;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}

.questionStatus {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        width: 25px;
        height: 25px;
        margin-right: 12px;
        cursor: pointer;
    }
}